<VirtualHost *:80>
	# The ServerName directive sets the request scheme, hostname and port that
	# the server uses to identify itself. This is used when creating
	# redirection URLs. In the context of virtual hosts, the ServerName
	# specifies what hostname must appear in the request's Host: header to
	# match this virtual host. For the default virtual host (this file) this
	# value is not decisive as it is used as a last resort host regardless.
	# However, you must set it for any further virtual host explicitly.
	ServerName {{ static_web.hostname }}
  {% for alias in static_web.host_aliases %}
  ServerAlias {{ alias }}
  {% endfor %}

	ServerAdmin {{ secret.webmaster_address }}
	DocumentRoot {{ static_web.webroot }}

	ErrorLog ${APACHE_LOG_DIR}/{{ static_web.hostname }}-error.log
	CustomLog ${APACHE_LOG_DIR}/{{ static_web.hostname }}-access.log combined

  RewriteEngine on

  {% for alias in static_web.host_aliases %}
  RewriteCond %{HTTP_HOST} ^{{ alias }} [NC]
  RewriteRule ^(.*)$ http://{{ static_web.hostname }}$1 [R=301,L]   
  {% endfor %}

  ExpiresActive On
  ExpiresDefault "access plus 300 seconds"

  <Directory "{{ static_web.webroot }}">
    Order deny,allow
    Allow from all
    # Not using ETags b/c they don't work well with gzip -- Apache bug
    FileETag none
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
  </Directory>
</VirtualHost>
